In [29]:
!pip install pandas
!pip install sqlalchemy
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/user/.local/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: pytz>=2020.1 in /home/user/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/user/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /home/user/.local/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/user/.local/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/user/.local/lib/python3.10/site-packages (2.0.25)
Requirement already satisfied: greenlet!=0.4.17 in /home/user/.local/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/user/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 KB 3.6 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=499023 sha256=5e8c0d518f40f6fb41b947f45d03d29d6d67e4d429217d785ee7709f39022267
  Stored in directory: /home/user/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [ ]:
# pgcli -h localhost -p 5432 -U root -d ny_taxi

In [6]:
import pandas as pd

In [8]:
pd.__version__

'2.2.0'

In [12]:
df = pd.read_csv("yellow_tripdata_2021-07.csv.gz",nrows=100)

In [13]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2021-07-01 00:35:21,2021-07-01 00:40:49,1,1.40,1,N,249,68,1,6.5,3.0,0.5,2.55,0.0,0.3,12.85,2.5
96,2,2021-07-01 00:04:34,2021-07-01 00:20:15,2,3.11,1,N,48,4,1,13.5,0.5,0.5,3.46,0.0,0.3,20.76,2.5
97,2,2021-07-01 00:29:29,2021-07-01 00:36:14,3,2.84,1,N,79,140,1,9.5,0.5,0.5,3.32,0.0,0.3,16.62,2.5
98,1,2021-07-01 00:12:37,2021-07-01 00:22:54,1,2.00,1,N,41,116,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0
99,1,2021-07-01 00:27:11,2021-07-01 00:35:23,1,2.00,1,N,116,151,1,9.0,0.5,0.5,4.00,0.0,0.3,14.30,0.0

In [18]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [20]:
pd.to_datetime(df.tpep_pickup_datetime)

0    2021-07-01 00:08:51
1    2021-07-01 00:22:39
2    2021-07-01 00:48:33
3    2021-07-01 00:59:44
4    2021-07-01 00:08:35
             ...
95   2021-07-01 00:35:21
96   2021-07-01 00:04:34
97   2021-07-01 00:29:29
98   2021-07-01 00:12:37
99   2021-07-01 00:27:11
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [21]:
pd.to_datetime(df.tpep_dropoff_datetime)

0    2021-07-01 00:13:05
1    2021-07-01 00:25:58
2    2021-07-01 00:54:58
3    2021-07-01 01:07:09
4    2021-07-01 00:16:28
             ...
95   2021-07-01 00:40:49
96   2021-07-01 00:20:15
97   2021-07-01 00:36:14
98   2021-07-01 00:22:54
99   2021-07-01 00:35:23
Name: tpep_dropoff_datetime, Length: 100, dtype: datetime64[ns]

In [22]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

## Generating Postgres compatible DDL

In [25]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [31]:
engine.connect()

In [32]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

## Now, inserting 100,000 rows at once in chunks to the database

In [33]:
df_iter = pd.read_csv("yellow_tripdata_2021-07.csv.gz",iterator = True, chunksize=100000)

In [34]:
df_iter

In [35]:
df = next(df_iter)

In [37]:
len(df)

100000

In [38]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [40]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [ ]:
# df.to_sql(name ='yellow_taxi_data', con=engine, if_exists='replace')

In [41]:
df.head(n=0).to_sql(name ='yellow_taxi_data', con=engine, if_exists='replace')

0

In [42]:
%time df.to_sql(name ='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 7.5 s, sys: 322 ms, total: 7.83 s
Wall time: 12.6 s

1000

In [44]:
from time import time

In [45]:
while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name ='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print("inserted another chunk..., took %.3f seconds" % (t_end - t_start))

inserted another chunk..., took 11.763 seconds
inserted another chunk..., took 14.120 seconds
inserted another chunk..., took 11.293 seconds
inserted another chunk..., took 14.010 seconds
inserted another chunk..., took 27.338 seconds
inserted another chunk..., took 24.028 seconds
inserted another chunk..., took 23.933 seconds
inserted another chunk..., took 13.616 seconds
inserted another chunk..., took 10.926 seconds
inserted another chunk..., took 14.496 seconds
inserted another chunk..., took 8.564 seconds
inserted another chunk..., took 7.617 seconds
inserted another chunk..., took 7.887 seconds
inserted another chunk..., took 7.577 seconds
inserted another chunk..., took 7.711 seconds
inserted another chunk..., took 7.550 seconds
inserted another chunk..., took 7.803 seconds
inserted another chunk..., took 7.693 seconds
inserted another chunk..., took 7.645 seconds
inserted another chunk..., took 8.169 seconds
inserted another chunk..., took 8.966 seconds
inserted another chunk..., took 9.043 seconds
inserted another chunk..., took 8.522 seconds
inserted another chunk..., took 8.723 seconds
inserted another chunk..., took 8.986 seconds

/tmp/ipykernel_4524/876668245.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 10.293 seconds
inserted another chunk..., took 7.520 seconds
inserted another chunk..., took 1.554 seconds

StopIteration: